<h1>About the app</h1>
<p class="info text">This is a demo GPT app</p>


    <div class="row">
      <div class="col primary">
        This is my demo web app that uses Express/Mongoose/EJS and the OpenAI API which uses prompt engineering 
        to generate useful responses to specific user queries.
        Try it out!
      </div>
      