<!DOCTYPE html>
<html>
</style>
<head>
  <title>GPT</title>
</head>
<body></body>
  <h1>Acronym Maker</h1>
  <p>Input a word you want to make an acronym out of</p>
  <form method="post" action="gpt">
      <input type="text"
      placeholder="Word"
      name="acronym"><br>
  </form>
  <h2><%= input %></h2>
  <p> <%= output %></p>
</body>
</html>