<h1>Team</h1>
<p class="info text">Samir Rajani</p>


    <div class="row">
      <div class="col primary">
        <p>srajani@brandeis.edu</p>
        <p>I did this by myself</p>
        <p>Enjoy!</p>
      </div>